.comment-form p {
  @apply mb-4;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  @apply bg-white border-b-2 border-blue-500 rounded-lg py-4 px-4 block w-full appearance-none leading-normal;

  &:focus {
    @apply outline-none border border-b-2;
  }
}

.comment-form input[type="submit"] {
  @apply bg-blue-500 text-white px-6 py-3 rounded-lg text-lg block;

  &:hover {
    @apply bg-blue-300;
  }

  &focus {
    @apply outline-none;
  }
}

.comment-body {
  @apply p-6 mb-4 shadow-md rounded;

  .avatar {
    @apply w-20 rounded-full;
  }

  time {
    @apply text-gray-500 mb-2;
  }

  .reply {
    @apply hidden;
  }

  .comment-content {
    @apply leading-relaxed my-2;
  }
}
